label {
    width: 80px;
    height:32px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: inset 0px 5px 15px rgba(98, 98, 98, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.158);
}

label:after {
    content: "";
    width:24px;
    height: 24px;
    position: absolute;
    top:4px;
    left:4px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  input {
    position: relative;
    width: 0;
    height: 0;
    visibility: hidden;
  }


  input:checked + label {
    background: #242424;
  }
  input:checked + label:after {
    left:74px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  label, label:after {
    transition: 0.3s
  }

  label:active:after{ 
    width: 70px; 
  }

  #toggle {
    position: absolute;
    bottom: 5vh;
    right: 2vw;
  }