body {
    background: #efefef;
}

.white-black {
    background: white;
    color: black;
    border: 3px solid black;
}
.navy {
    background: #1b1464;
    color: white;
}
.royal {
    background: #072682;
    color: white;
}
.sapphire {
    background: #0068a5;
    color: white;
}
.pacific {
    background: #0085b2;
    color: white;
}

.red {
    background: #e20000;
    color: white;
}

.red.deselected {
    background: #a10000;
    color: #ccc;
}

.orange {
    background: #f36d00;
    color: white;
}

.gold {
    background: gold;
    color: white;
}

.gold.deselected {
    background: #b28c5e;
    color: #ccc;
}

.green {
    background: #00d11c;
    color: white;
}

.green.deselected {
    background: #007f0e;
    color: #ccc;
}

.white {
    background: white;
    color: black;
}
.grey {
    background: grey;
    color: white;
}
.black {
    background: black;
    color: white;
}