body {
    background: #efefef;
}

body.dark-mode {
    /* background: #010112; */
    background-image: linear-gradient(#010112, #020628);
}


.white {
    background:white;
    color: black;
}
.white-black {
    background: white;
    color: black;
    border: 3px solid black;
}
.grey {
    background: #b0b0b0;
    color: white;
}
.grey.dark-mode {
    background: #3a0c33;
    color: rgb(215, 209, 228);
}
.white.dark-mode {
    background: #22092C;
    color: rgb(225, 225, 225);
}
.navy {
    background: #1b1464;
    color: white;
}
.navy.dark-mode {
    background: #22092C;
}
.royal {
    background: #072682;
    color: white;
}
.royal.dark-mode {
    background: #872341;
}
.sapphire {
    background: #0068a5;
    color: white;
}
.sapphire.dark-mode {
    background: #BE3144;
}
.pacific {
    background: #0085b2;
    color: white;
}
.pacific.dark-mode {
    background: #F05941;
}

.red {
    background: #e20000;
    color: white;
}

.red.deselected {
    background: #a10000;
    color: #ccc;
}

.orange {
    background: #f36d00;
    color: white;
}

.gold {
    background: gold;
    color: white;
}

.gold.deselected {
    background: #b28c5e;
    color: #ccc;
}

.green {
    background: #00d11c;
    color: white;
}

.green.deselected {
    background: #007f0e;
    color: #ccc;
}

.white {
    background: white;
    color: black;
}
.grey {
    background: grey;
    color: white;
}
.black {
    background: black;
    color: white;
}