body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .flexbox {
    display: flex;
}

.flexbox .row {
    flex-direction: row;
}

.flexbox .column {
    flex-direction: column;
}

.squash {
  padding: 0px;
  margin: 0px;
}
  