/**
* Things Needed:
* #limelight_conn_button
* #limelight_conn_button_text
* #cameras
*/

.limelight_info {
    flex: 0 1 100%; 
    width: 100%;
    margin: auto;
    align-items: stretch; 
    overflow: hidden;
}

.limelight_container {
    text-align: center; 
    flex: 0 0 auto; 
    padding: 10px; 
    margin-bottom: 10px; 
    overflow: visible;
}

.conn_button {
    width: 40%; 
    border-radius: 6px; 
    padding: 10px; 
    padding-left: 14px; 
    padding-right: 14px; 
    margin-bottom: 10px; 
    display: inline-block;
}
.conn_button_text {
    font-size: 20; 
    font-weight: 700;
}

.stream {
    flex-basis: 50;
    width: 100%;
    margin: auto; 
    margin-top: 10px; 
    display: none;
}