.list_sel {
    display: flex;
    flex-direction: row;
}

.list_sel_info {
    align-items: strech; 
    flex-grow: 0; 
    padding: 12px; 
    border-radius: 16px;
    margin-top: 15px;
    width: 50%;
}

.list_sel_img {
    width: 50%;
}

.list_sel_box {
    display: flex;
    flex-direction: column; 
    color: white;
    padding-bottom: 8px;
    font-size: 14pt;
}

.list_sel_options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list_sel_title {
    font-weight: 300; 
    margin-right: 8px;
}
.list_sel_selected_item {
    font-weight: 600; 
    flex: 1 0 auto;
}
.list_sel_choose {
    border-radius: 6px; 
    padding: 4px; 
    margin-left: 28px; 
    margin-right: 14px;
}

.list_sel_full_list {
    display: none;
}
.list_sel_choice_none {
    margin: 0px; 
    margin-bottom: 4px; 
    padding: 8px; 
    border-radius: 6px;
}