.statusDisplay {
    display: flex;
    width: 125px;
    height: 50px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin: 5px
}
.statusGreen {
    background-color: rgb(118, 207, 17);
}
.statusRed {
    background-color: rgb(238, 51, 123);
}
.statusYellow {
    background-color: rgb(255, 157, 65);
}