.Green {
    background-color: rgb(118, 207, 17);
    width: 100%;
    height: 50px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.Red {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 50px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.Yellow {
    background-color: rgb(255, 157, 65);
    width: 100%;
    height: 50px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: rgb(238, 51, 123);
    }
}

.debug {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93%;
    margin-bottom: 20px;
}

#system-checks{
    display: flex;
    flex-direction: row;
}

.system-set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.debug.dark-mode {
}

.sub {
    width: 30%;
    margin: auto;
}

.display {
    display: flex;
    flex-direction: column;
}

Button {
    border-color: transparent;
    color: white;
    overflow: hidden;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    justify-content: center;
    flex-direction: row;
    padding: 1vw;
    align-content: center;
    width: 100%;
}

button {
    background-color: #041340;
}

button:hover {
    background-color: #072682;
}

button:active {
    background-color: #0e40d4;
}

button.dark-mode {
    background-color: rgb(121, 12, 12);
}

button.dark-mode:hover {
    background-color: rgb(55, 4, 19);
}

button.dark-mode:active {
    background-color: #7e1b39;
}

#sub-img{
    overflow: hidden;
    width: 100%; /* Make the image width fill the container */
    height: 75%; /* Maintain aspect ratio */
    top: 0;
    left: 0;
    margin:0;
}