.Green {
    background-color: lime;
    width: 100%;
    height: 10px;
}

.Red {
    background-color: red;
    width: 100%;
    height: 10px;
}

.Yellow {
    background-color: yellow;
    width: 100%;
    height: 10px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: red;
    }
}

.debug {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ag {
    width: 5px;
}

.display {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

Button {
    background-color: #072682;
    margin-top: 5px;
    border-color: transparent;
    color: white;
    overflow: hidden;
    border-radius: 12px;
    justify-content: center;
    flex-direction: row;
    padding: 1vw;
    align-content: center;
    width: 100%;
}