.Green {
    background-color: rgb(118, 207, 17);
    width: 100%;
    height: 50px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.Red {
    background-color: rgb(238, 51, 123);
    width: 100%;
    height: 50px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.Yellow {
    background-color: rgb(255, 157, 65);
    width: 100%;
    height: 50px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        background-color: rgb(238, 51, 123);
    }
}

.debug {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#e3e3e3;
    border-radius: 12px;
    margin: 20px;
    width: 100%;
    height: 50%;
}

.side {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.debug.dark-mode {
    background-color: #282828;
}

.sub {
    width: 30%;
    margin: auto;
}

.display {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

Button {
    margin-top: 5px;
    border-color: transparent;
    color: white;
    overflow: hidden;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    justify-content: center;
    flex-direction: row;
    padding: 1vw;
    align-content: center;
    width: 100%;
}

button {
    background-color: #041340;
}

button:hover {
    background-color: #072682;
}

button:active {
    background-color: #0e40d4;
}

button.dark-mode {
    background-color: rgb(121, 12, 12);
}

button.dark-mode:hover {
    background-color: rgb(55, 4, 19);
}

button.dark-mode:active {
    background-color: #7e1b39;
}