
.flexRowTabs {
    display: flex;
    flex-direction: row;
    background-color: #e1e1e1;
}

.flexRowTabs.dark-mode {
    background-color: #2d293e;
}

.flexRowTabs div {
    width: 33.333333%;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.flexRowTabs div:hover {
    cursor: pointer;
}

.active {
    background-color: #0095c7;
}

.active.dark-mode {
    background-color: #ff003c;
}